name: Run tests

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 5 * * *'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.12


      - name: Install dependencies
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install poetry
          poetry install --no-interaction --no-root

        env:
          API_AUTHORIZATION: ${{ secrets.API_AUTHORIZATION }}
          API_URL: ${{ secrets.API_URL }}
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}

      - name: Run tests
        run: |
          source .venv/bin/activate
          touch .env
            echo "API_AUTHORIZATION=${{ secrets.API_AUTHORIZATION }}" >> .env
            echo "API_URL=${{ secrets.API_URL }}" >> .env
            echo "USERNAME=${{ secrets.USERNAME }}" >> .env
            echo "PASSWORD=${{ secrets.PASSWORD }}" >> .env
            cat .env
