name: Regression tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  regression:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Cache Poetry dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pypoetry
            ~/.cache/pip
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install dependencies
        run: |
          pip install --no-cache-dir poetry \
          && poetry config virtualenvs.create false \
          && poetry install --no-interaction --no-ansi --no-root

      - name: Install Allure Report 3
        run: npm install -g allure

      - name: Run regression tests
        run: poetry run pytest tests/regress --alluredir=allure-results
        continue-on-error: true
        env:
          API_URL: ${{ secrets.API_URL }}
          API_AUTHORIZATION: ${{ secrets.API_AUTHORIZATION }}
          API_USERNAME: ${{ secrets.USERNAME }}
          API_PASSWORD: ${{ secrets.PASSWORD }}

      - uses: actions/upload-artifact@v4
        if: always()
        continue-on-error: true
        with:
          name: allure-results
          path: allure-results
          retention-days: 20

      - name: Generate Allure report
        if: always()
        run: allure generate allure-results

      - uses: allure-framework/allure-action@v0.6.4
        if: always()
        id: allure-report
        with:
          report-directory: allure-report
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Allure report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
